body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Noto Sans TC', sans-serif, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:link {
  color: black;
  text-decoration: none;

}

a:visited {
  color: black;
}

a:hover {
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transform: scaleY(1.5);
  color: grey;
}

a:active {
  color: grey;
}


.txt-800{
  font-weight: 800;
  font-size: x-large;
}

.txt-400{
  font-weight: 400;
  font-size: x-large;
}

h1 {
 font-size: 1.2rem;
 font-weight: 500;
 padding-bottom: 30px;
}


.name-logo {
  font-weight: 900;
  text-transform: uppercase;
}

.main-container {
  height:100vh;
  overflow: auto;
  padding: 0px 4% 0px 4%;
}

.topbar-container {
  display:flex;
  justify-content: space-between;
  position: fixed;
  width: calc(100vw - 15px);
  padding: 0px 4% 0px 4%;
  height: 75px;
  flex-direction: row;
  align-items: center;
  background-color: white;
  color: white;
  z-index: 999;
}

.topbar-spacer {
  height: 80px;
}

.sidebar-container {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  height:100vh;
  padding: 30px 10px 30px 4%;

}

.sidebar-logo {
  padding-top:130px;
}

.sidebar-spacer {
  height:110px;
}

.home-image{
  padding-top:20px;
}

.home-header{
  padding: 50px 0px 80px 0px;
}

.home-project-body {
  padding: 10px 0px 30px 0px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: white;
}

.text-inline{
  display: inline;
  animation: fadeIn ease 10s;
-webkit-animation: fadeIn ease 10s;
}

.no-gutter{
  padding-left: 0px;
  padding-right: 0px;
}

.home-project-button {
  height:20px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  position: relative;
}

.home-project-button:hover {
  transform: translate(1em,0);
  -webkit-transform: translate(1em,0);
  -moz-transform: translate(1em,0);
  -o-transform: translate(1em,0);
  -ms-transform: translate(1em,0);
}


.home-project-button-cont{
  text-align: right;
  padding-left: 0px;
  padding-right: 15px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
  }
  
@-moz-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-o-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}

@-ms-keyframes fadeIn {
0% {opacity:0;}
100% {opacity:1;}
}
